<div class='container be-gray'>
    <div class='row'>
        <div class='col-xs-12 col-md-12'>
            <h1>Bibli_OS</h1>
            <p align='center'>Web App para Biblioteca</p>            
        </div>
    </div>
    <div class='row' style='align: center;'>
        <div class='col-xs-5 col-md-5'></div>
        <div class='col-xs-5 col-md-5'>
            <div class="round round-bg purpleh">
                <span class="glyphicon glyphicon-book"></span>
            </div>
        </div>
    </div>
</div>

