/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'https://fonts.googleapis.com/css?family=Merriweather';

html, body {
  background: #fff;
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
}
h1 {text-align: center;
  
}
a,a:visited{ color: inherit !important; 
}
a, a:hover, .btn{outline:none!important;}
table {
  border-collapse: separate;
  border-spacing: 0 5px;

}
$tcolor: #414141; $fcolor: #ECF0F1;
thead th {
  background-color: $tcolor;
  color: $fcolor;
}
tbody td {
  background-color: #EEEEEE;
  font-size: 12px;
}
tr td:first-child,
tr th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
tr td:last-child,
tr th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #8a9da7;
}
// CLASES 
// MINE
.be-purple_strong{
  background-color: #89589C;
  color: #F6FFFF;
}
.be-windows_gray7{
  background-color: #B0BDC9;
}
.be-border_heroku{
  background: #89589C;
  background-color: #AF9BC5;
  color: #F6FFFF;
}
.be-font_purple{
  background-color: #7958A9;
  color: #F6FFFF;
}
.be-round_ligth_gray{
  background-color: #efefef;
  color: black; 
}
.be-gray{
  background-color: #414141;
  color: #ECF0F1;
}
.be-soft_gray{
 background-color: #ECECEC;
 color: black;
}
.be-soft_gray2{
  background-color: #cbcbd2;
  color: #ECF0F1; 
}
.be-round_gray{
  background-color: #8a9da7;
  color: #ECF0F1; 
}
.be-round_soft_gray{
  background-color: #c0c1c2;
  color: #ECF0F1;  
}
.be-round_ligth_gray{
  background-color: #efefef;
  color: black; 
}
//COPIED
.row {
    margin-top: 20px;   
}
.round {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;    
    color: #FFF;
    text-align: center;  
}
.round.hollow {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #FFF;    
    color: #222;
    text-align: center;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
}
.round.round-sm {
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
}
.round.round-lg {
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 1.5em;
}
.round.round-bg {
    height: 80px;
    width: 80px;
    line-height: 80px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    font-size: 1.5em;
}
.round.purpleh {
  background-color: #AF9BC5;
}
.round.blue {
    background-color: #3EA6CE;
}
.round.orange {
    background-color: #FF6701;
}
.round.green {
    background-color: #42A129;
}
.round.hollow.blue {
    color: #3EA6CE;   
    background-color: #FFF;    
    -webkit-box-shadow: 0px 0px 0px 3px #3EA6CE;
    -moz-box-shadow: 0px 0px 0px 3px #3EA6CE;
    box-shadow: 0px 0px 0px 3px #3EA6CE;
}
.round.hollow.orange {
    color: #FF6701;
    background-color: #FFF;    
    -webkit-box-shadow: 0px 0px 0px 3px #FF6701;
    -moz-box-shadow: 0px 0px 0px 3px #FF6701;
    box-shadow: 0px 0px 0px 3px #FF6701;
}
.round.hollow.green {
    color: #42A129;
    background-color: #FFF;    
    -webkit-box-shadow: 0px 0px 0px 3px #42A129;
    -moz-box-shadow: 0px 0px 0px 3px #42A129;
}
.btn-default {
  &.btn-inverse {
    @include button-variant($btn-default-bg, $btn-default-color, $btn-default-bg);
    &:hover {
      @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
    }
  }
  &.btn-transparent {
    @include button-variant($btn-default-bg, transparent, $btn-default-bg);
    &:hover {
      @include button-variant($btn-default-bg, darken($btn-default-bg, 25%), $btn-default-bg);
    }
  }
}
.btn-primary {
  &.btn-inverse {
    @include button-variant($btn-primary-bg, $btn-primary-color, $btn-primary-bg);
    &:hover {
      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    }
  }
  &.btn-transparent {
    @include button-variant($btn-primary-bg, transparent, $btn-primary-bg);
    &:hover {
      @include button-variant($btn-primary-bg, darken($btn-primary-bg, 25%), $btn-primary-bg);
    }
  }
}
.card{float: left; width:100%
}
/*
.btn-warning {
  &.btn-inverse {
    @include button-variant($btn-warning-bg, $btn-warning-color, $btn-warning-bg);
    &:hover {
      @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
    }
  }
  &.btn-transparent {
    @include button-variant($btn-warning-bg, transparent, $btn-warning-bg);
    &:hover {
      @include button-variant($btn-warning-bg, darken($btn-warning-bg, 25%), $btn-warning-bg);
    }
  }
}
.btn-danger {
  &.btn-inverse {
    @include button-variant($btn-danger-bg, $btn-danger-color, $btn-danger-bg);
    &:hover {
      @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
    }
  }
  &.btn-transparent {
    @include button-variant($btn-danger-bg, transparent, $btn-danger-bg);
    &:hover {
      @include button-variant($btn-danger-bg, darken($btn-danger-bg, 25%), $btn-danger-bg);
    }
  }
} 
*/