<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">LIBRO POR ISBN <%= @book.isbn %></h4>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table tblBooks">
                <thead>
                    <tr>
                      <th>ID</th>
                      <th>Titulo</th>
                      <th>Autor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td><%= @book.id %></td>
                      <td><%= @book.title %></td>
                      <td><%= @book.autor %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>