<div class='container'>
    <div class='row'>
        <div class='col-xs-4 col-md-4'></div>
        <div class='col-xs-4 col-md-4'>
            <h1>Nuevo Prestamo</h1>
        </div>
        <div class='col-xs-4 col-md-4'></div>
    </div>
</div>
<%= render 'form' %>
<div class='container'>
    <div class='row '>
        <div class='col-xs-4 col-md-4'></div>
        <div class='col-xs-4 col-md-4' style='center'>
            <div id="spinnerContainer" class="spinner"></div>        
        </div>
    </div>
    <div class='row'>
        <div class='col-xs col-md-4'></div>
        <div class='col-xs col-md-4'>
           <a class="btn btn-block btn-hero launch">Guardar</a>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs col-md-4'></div>
        <div class='col-xs col-md-4'>
            <%= link_to 'Regresar', borrows_path, class:'btn btn-block btn-hero' %>
        </div>
    </div>
</div>

